@import './variables';
@import './reset';

input,
button,
body {
	font-family: $font;
}

body {
	margin: 0 auto;
	background-color: #141414;
	color: $white;
	font-size: 17px;
	line-height: 1.6;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Rubik', sans-serif;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

@import './keyframes';
